#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 10s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
}
@keyframes slider {
  55% {
    left: 0;
  }
  60% {
    left: -100%;
  }

  100% {
    left: -100%;
  }
}
/*
a.arrow {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: auto;
  height: 55px;
  margin-top: 0px;
  display: flex;
  position: absolute;
  top: 61%;
  left: 6%;
  transform: translate(-10%, -50%);
}

a.arrow-point-right {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: auto;
  height: 55px;
  margin-top: 0px;
  display: flex;
  position: absolute;
  top: 54%;
  left: 91%;
  transform: translate(-10%, -50%);
  rotate: 180deg;
}
*/
